html,
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: #090807;

	/* Gradient begin */
	background: rgb(25, 25, 25);
	background: linear-gradient(45deg, rgb(25, 25, 25), rgb(36, 36, 36));
	/* Gradient end */

	color: #ffffff;
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;

	margin: 0 0 0 0;
}
body > * {
	margin-left: 1vw;
}
a {
	color: #3391ff !important;
}
.FadeIn {
	display: none;
	transition: left 1.5s;
	position: relative;
	left: 2em;
}
